@charset "UTF-8";
/* ==========================================================================
	Imports
/* ========================================================================== */
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 14px 35px;
}

dfn {
  font-style: italic;
}

mark {
  background: #fff;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 14px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -7px;
}

sub {
  bottom: -3.5px;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #000;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/*  Apply to all elements. In a responsive design, this is almost always a good idea */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #f6323e;
  /* Safari */
  color: #fff;
}

::-moz-selection {
  background: #f6323e;
  /* Firefox */
  color: #fff;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-book.eot");
  src: local("☺"), url("fonts/circularstd-book.woff") format("woff"), url("fonts/circularstd-book.ttf") format("truetype"), url("fonts/circularstd-book.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-book.eot");
  src: local("☺"), url("fonts/circularstd-book.woff") format("woff"), url("fonts/circularstd-book.ttf") format("truetype"), url("fonts/circularstd-book.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-book.eot");
  src: local("☺"), url("fonts/circularstd-book.woff") format("woff"), url("fonts/circularstd-book.ttf") format("truetype"), url("fonts/circularstd-book.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-bold.eot");
  src: local("☺"), url("fonts/circularstd-bold.woff") format("woff"), url("fonts/circularstd-bold.ttf") format("truetype"), url("fonts/circularstd-bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: 'Circular', Helvetica, arial, sans-serif;
  font-size: 14px;
}
body.home {
  background: #000;
}
body.home footer {
  display: none;
}
body.page-template-page-expertis-php {
  background: url(../images/expertis-bg.jpg) no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
body.page-template-page-contact-php {
  background: url(../images/contact-bg.jpg) no-repeat -100px 80px fixed #e6e7e8;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
body.page-template-page-store-php {
  background: #c4bbb1;
}

a {
  text-decoration: none;
  color: #f6303e;
}

.hide, .hidden {
  display: none;
}

.wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

header {
  height: 80px;
  background: #000;
}
header .wrapper {
  width: auto;
  min-width: 960px;
  margin-left: 50px;
  margin-right: 50px;
}
header .left .main-logo {
  display: block;
  width: 157px;
  height: 28px;
  background: url(../images/shake_logo.png) no-repeat;
  text-indent: -99999px;
  margin-top: 30px;
}
header .nav-menu {
  margin-top: 48px;
}
header .nav-menu ul {
  float: left;
}
header .nav-menu ul li {
  display: inline-block;
  margin-right: 30px;
}
header .nav-menu ul li a {
  color: #fff;
  font-size: 18px;
  -webkit-transition: hover ease-in 50ms;
  -moz-transition: hover ease-in 50ms;
  -ms-transition: hover ease-in 50ms;
  -o-transition: hover ease-in 50ms;
  transition: hover ease-in 50ms;
}
header .nav-menu ul li a.selected, header .nav-menu ul li a:hover {
  color: #f6303e;
}
header .nav-menu .social-icons {
  float: left;
  position: relative;
  bottom: 5px;
}
header .nav-menu .social-icons .icon {
  margin-left: 10px;
}
header .nav-menu .social-icons .icon:first-of-type {
  margin-left: 0;
}

footer {
  width: 100%;
  height: 30px;
}

.social-icons .icon {
  display: inline-block;
  width: 25px;
  height: 24px;
}
.social-icons .facebook {
  background: url(../images/icon-facebook.png) no-repeat;
}
.social-icons .facebook:hover {
  background: url(../images/icon-facebook-hover.png) no-repeat;
}
.social-icons .twitter {
  background: url(../images/icon-twitter.png) no-repeat;
}
.social-icons .twitter:hover {
  background: url(../images/icon-twitter-hover.png) no-repeat;
}

.main-content .homepage {
  overflow: hidden;
  position: relative;
}
.main-content .homepage .wrapper {
  z-index: 100;
}
.main-content .homepage .slides {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
}
.main-content .homepage h1 {
  position: absolute;
  left: 60px;
  bottom: 80px;
  z-index: 100;
  color: #fff;
  font-size: 72px;
  font-weight: 800;
}
.main-content .homepage h1 p {
  border-bottom: 2px solid #fff;
  font-weight: normal;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  line-height: 1;
  display: block;
}
.main-content .homepage h1 p:last-of-type {
  border-bottom: none;
}
.main-content .homepage video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-content .homepage .slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-content .page {
  margin-top: 30px;
}
.main-content .about-page .nav-menu {
  margin-bottom: 30px;
}
.main-content .about-page .nav-menu ul li {
  float: left;
  width: 180px;
  margin-right: 10px;
}
.main-content .about-page .nav-menu ul li:last-of-type {
  margin-right: 0;
}
.main-content .about-page .nav-menu ul li a {
  display: block;
  padding: 10px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
.main-content .about-page .nav-menu ul li a.selected {
  border: 1px solid #f6303e;
  color: #f6303e;
}
.main-content .about-page .tabs .tab {
  display: none;
}
.main-content .about-page .tabs .tab:first-of-type {
  display: block;
}

.red {
  color: #f6303e;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 300;
}
.content h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}
.content h3 {
  font-weight: 300;
  font-size: 16px;
}
.content p {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.people-list {
  width: 960px;
  padding-left: 10px;
  margin: 0 auto;
}
.people-list a {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 305px;
  height: 226px;
  position: relative;
}
.people-list a h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 226px;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 300;
  display: none;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}

.people-full-list {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.people-full-list .person {
  display: none;
  background: #fff;
  height: 391px;
  padding: 0;
}
.people-full-list .person .photo {
  width: 382px;
}
.people-full-list .person .description {
  width: 558px;
  padding: 50px 30px;
}
.people-full-list .person .description h2 {
  color: #f6303e;
  margin-bottom: 10px;
}
.people-full-list .person .description h3 {
  color: #1d1e1c;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.people-full-list .person .description p {
  font-size: 16px;
}

.close-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 34px;
  background: #f6303e;
  cursor: pointer;
}
.close-button span {
  display: block;
  position: absolute;
  width: 35px;
  height: 34px;
  top: 0;
  left: 0;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
}
.close-button span:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 17px;
  width: 2px;
  height: 25px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button span:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 17px;
  width: 2px;
  height: 25px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-button span:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.work-page .nav-menu {
  text-align: center;
  margin-bottom: 15px;
}
.work-page .nav-menu a {
  color: #000;
  font-weight: 700;
  margin-right: 50px;
  text-transform: lowercase;
}
.work-page .nav-menu a:last-of-type {
  margin-right: 0;
}
.work-page .nav-menu a.selected {
  color: #f6303e;
}
.work-page .works {
  width: 965px;
  margin: 0 auto;
  padding-left: 10px;
}
.work-page .works .work {
  display: block;
  float: left;
  width: 308px;
  height: 205px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.work-page .works .work h3 {
  display: none;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 308px;
  height: 205px;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  color: #000;
  font-weight: 300;
}
.work-page .single-work .left {
  width: 380px;
}
.work-page .single-work .left h2 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}
.work-page .single-work .left h4 {
  text-align: center;
  font-style: italic;
}
.work-page .single-work .right {
  width: 560px;
  padding-left: 20px;
}
.work-page .single-work .photos {
  margin-top: 30px;
}
.work-page .single-work .photos img {
  max-width: 100%;
  margin-bottom: 15px;
}

.expertis-page h1 {
  color: #fff;
  text-align: center;
  padding: 30px;
}
.expertis-page .icons {
  width: 960px;
  height: 232px;
}
.expertis-page .icons a {
  display: block;
  width: 150px;
  height: 180px;
  margin-right: 120px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.expertis-page .icons a:last-of-type {
  margin-right: 0;
}
.expertis-page .icons a.branding {
  background-image: url(../images/experis-icon-branding.png);
}
.expertis-page .icons a.industrial {
  background-image: url(../images/experis-icon-industrial.png);
}
.expertis-page .icons a.engineering {
  background-image: url(../images/experis-icon-engineering.png);
}
.expertis-page .icons a.packaging {
  background-image: url(../images/experis-icon-packaging.png);
}
.expertis-page .icons a:hover {
  height: 205px;
  top: -15px;
  left: -10px;
}
.expertis-page .icons a:hover span {
  left: 10px;
  bottom: -20px;
}
.expertis-page .icons a span {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 136px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  display: block;
}
.expertis-page .expertis {
  display: none;
  background: rgba(255, 255, 255, 0.3);
  width: 840px;
  padding: 70px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -420px;
}
.expertis-page .expertis h1 {
  font-size: 56px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}
.expertis-page .expertis h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.2;
}
.expertis-page .expertis p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.4;
}

.big-close-button {
  width: 42px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
}
.big-close-button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 40px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.big-close-button:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 40px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.big-close-button:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.half {
  width: 50%;
}

.award-page {
  margin-bottom: 50px;
}
.award-page h1 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #8d8e8d;
}
.award-page .award-list {
  margin-top: 50px;
}
.award-page .award-list a {
  margin-right: 80px;
}
.award-page .thumbnail {
  float: left;
  margin-right: 30px;
  margin-top: 55px;
  display: none;
}
.award-page .nano {
  height: 330px;
}

.award-photos {
  margin-top: 30px;
}
.award-photos img {
  width: 100%;
  height: auto;
  padding: 0px 7.5px 0 7.5px;
}
.award-photos .owl-nav > div {
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  opacity: 0.7;
  margin-top: -15px;
  overflow: hidden;
}
.award-photos .owl-nav .owl-prev {
  left: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.award-photos .owl-nav .owl-next {
  right: 30px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.careers-page .banner {
  margin-bottom: 25px;
}
.careers-page h1 {
  margin-bottom: 10px;
}
.careers-page p {
  margin-bototm: 15px;
}
.careers-page .job-list {
  margin-bottom: 15px;
}
.careers-page .job-list .job {
  display: block;
  width: 293px;
  background: #c4bbb1;
  color: #fff;
  padding: 10px 0 10px 10px;
  height: 30px;
  position: relative;
  margin-bottom: 15px;
  font-weight: 300;
  float: left;
  margin-right: 150px;
}
.careers-page .job-list .job span {
  background: #f6303e;
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.careers-page .job-list .job:hover {
  background: #f6303e;
}
.careers-page .note p {
  font-size: 11px;
  font-style: italic;
  padding-left: 25px;
  background: url(../images/icon-mail.png) no-repeat 1px 1px;
}

.job-full-list {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.job-full-list .job {
  display: none;
  background: #fff;
  margin: 100px auto;
  width: 860px;
  padding: 50px 90px;
  position: relative;
}
.job-full-list .job h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}
.job-full-list .job h1 {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 40px;
  border-bottom: 1px solid #8d8d8c;
  margin-bottom: 15px;
}
.job-full-list .job p {
  margin-bottom: 25px;
}

.contact-page {
  position: relative;
}
.contact-page .content {
  width: 530px;
  position: absolute;
  top: 50px;
  right: 0;
  padding-bottom: 50px;
}
.contact-page .content .top {
  background: #000;
  color: #fff;
  padding: 40px;
}
.contact-page .content .top h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}
.contact-page .content .top p {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 10px;
}
.contact-page .content .top a {
  color: #fff;
}
.contact-page .content .bottom {
  padding: 20px 40px;
  background: #fff;
}
.contact-page .content .bottom input[type="text"], .contact-page .content .bottom input[type="email"] {
  width: 100%;
  padding: 10px;
  display: block;
  margin-bottom: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #8d8e8d;
  font-family: "Circular";
}
.contact-page .content .bottom input[type="text"].no-border, .contact-page .content .bottom input[type="email"].no-border {
  border-bottom: none;
}
.contact-page .content .bottom input[type="text"]:focus, .contact-page .content .bottom input[type="email"]:focus {
  outline: none;
}
.contact-page .content .bottom textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #8d8e8d;
  font-family: "Circular";
}
.contact-page .content .bottom textarea:focus {
  outline: none;
}
.contact-page .content .bottom input[type="submit"] {
  float: right;
  background: #f6303e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.store-page h1 {
  font-weight: 300;
  font-size: 65px;
  margin-top: 100px;
  text-align: center;
}

@media (min-width: 1650px) {
  .people-list {
    width: 1600px;
    padding-left: 15px;
  }

  .work-page .works {
    width: 1620px;
  }

  header .wrapper {
    margin-left: 150px;
    margin-right: 150px;
  }

  .main-content .homepage h1 {
    left: 160px;
  }

  .main-content .page {
    margin-top: 115px;
  }

  .award-single-page .thumbnail {
    display: block;
  }
  .award-single-page .content {
    float: left;
    width: 700px;
  }
  .award-single-page .content h1 {
    border-bottom: none;
    margin-bottom: 7px;
    padding-bottom: 7px;
  }
  .award-single-page .content .half {
    width: 100%;
  }
}
/** nano scroller**/
/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}

.really_simple_share {
  margin-top: 10px;
}

/*# sourceMappingURL=global.css.map */
