@charset "UTF-8";
/* ==========================================================================
    Imports
/* ========================================================================== */
/* ==========================================================================
    Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 14px 35px;
}

dfn {
  font-style: italic;
}

mark {
  background: #fff;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 14px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -7px;
}

sub {
  bottom: -3.5px;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* ==========================================================================
    Print styles.
    Inlined to avoid required HTTP connection: h5bp.com/r
/* ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #000;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
    Variables
/* ========================================================================== */
/* Directories */
/* Colors */
/* Font Sizes */
/*  Apply to all elements. In a responsive design, this is almost always a good idea */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #f6323e;
  /* Safari */
  color: #fff;
}

::-moz-selection {
  background: #f6323e;
  /* Firefox */
  color: #fff;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-book.eot");
  src: local("☺"), url("fonts/circularstd-book.woff") format("woff"), url("fonts/circularstd-book.ttf") format("truetype"), url("fonts/circularstd-book.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-book.eot");
  src: local("☺"), url("fonts/circularstd-book.woff") format("woff"), url("fonts/circularstd-book.ttf") format("truetype"), url("fonts/circularstd-book.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-book.eot");
  src: local("☺"), url("fonts/circularstd-book.woff") format("woff"), url("fonts/circularstd-book.ttf") format("truetype"), url("fonts/circularstd-book.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url("fonts/circularstd-bold.eot");
  src: local("☺"), url("fonts/circularstd-bold.woff") format("woff"), url("fonts/circularstd-bold.ttf") format("truetype"), url("fonts/circularstd-bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: 'Circular', Helvetica, arial, sans-serif;
  font-size: 15px;
}
body.home {
  background: #000;
}
body.home footer {
  display: none;
}
/*body.page-template-page-careers-php {*/
  /*background: url(../images/careers-bg.jpg) no-repeat fixed;*/
  /*background-size: cover;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
/*}*/

.expertis-full-list {
    height: 0;
    color: white;
}
.expertis-full-list p {
    font-size: 18px !important;
}
.expertis-list.wrapper {
    margin: 0 auto !important;
}
.expertis-page.wrapper {
    margin: 0 !important;
    padding: 2em 5% !important;
    /*height: 720px;*/
    clear: both;
    background: url(../images/expertis-bg.jpg) no-repeat ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    overflow: auto;
}

.expertis-page .content {
    /*width: 950px;*/
    margin: auto;
}

#branding.expertis-page {
  background: url(../images/expertis-branding-bg.jpg) no-repeat ;
}

#branding.expertis-page .content .icon {
    max-width: 426px;
    margin: 0 auto 40px;
}

#branding.expertis-page .content .text {
    float: left;
    /*max-width: 700px;*/
}

#engineering.expertis-page {
  background: url(../images/expertis-engineering-bg.jpg) no-repeat ;
}
#industrial.expertis-page {
  background: url(../images/expertis-industrial-bg.jpg) no-repeat ;
}
#visual.expertis-page {
  background: url(../images/expertis-visual-bg.jpg) no-repeat ;
}

body.page-template-page-contact-php {
  background: url(../images/contact-bg.jpg) no-repeat -100px 80px fixed #e6e7e8;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
body.page-template-page-about-php {
  background: url(../images/about-bg.jpg) no-repeat fixed #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
body.page-template-page-award-php {
  background: url(../images/award-bg.jpg) no-repeat fixed #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
body.page-template-page-careers-php {
  background: url(../images/careers-background.jpg) no-repeat fixed #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
body.single-award:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: url(../images/award-bg.jpg) no-repeat fixed #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
}
body.page-template-page-works-php, body.post-type-archive-work {
  /*background: url(../images/about-bg.jpg) no-repeat fixed #000;*/
  background: black;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
body.page-template-page-store-php {
  background: #c4bbb1;
}

a {
  text-decoration: none;
  color: #f6303e;
}

.hide, .hidden {
  display: none;
}

.wrapper {
  /*width: 960px;*/
  width: auto;
  /*margin-left: 150px;*/
  /*margin-right: 150px;*/
  padding: 0 10px;
  /*margin: 0 auto;*/
  position: relative;
}

header {
  height: 81px;
  background: #000;

}
header .wrapper {
  /*width: auto;*/
  /*min-width: 960px;*/
  margin: 0 5%;
  z-index: 10;
}
header .left .main-logo {
  display: block;
  width: 157px;
  height: 28px;
  background: url(../images/shake_logo.png) no-repeat;
  text-indent: -99999px;
  margin-top: 30px;
}
header .nav-menu.hamburger {
    display: inline-block;
    margin: 1em 0;
    position: relative;
    right: -40px;
    float: right;
}
header .nav-menu.hamburger ul {
    width: 170px;
    clear: both;
    float: none;
    padding: 0 0 0 20px;
    background: black;
}
header .nav-menu.hamburger ul li {
    margin: 1em 2em 1em 0;
}
header .nav-menu.hamburger .icon-holder {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: red;
    float: right;    
}
header .nav-menu.hamburger .social-icons {
    margin: 25px 10px 0 40px;
}
header .nav-menu.hamburger .menu-holder {
    width: 170px;
}
header .nav-menu {
  margin-top: 43px;
  display: none;
}
header .nav-menu ul {
  float: left;
}
header .nav-menu ul li {
  display: inline-block;
  margin-right: 30px;
}
header .nav-menu ul li a {
  color: #fff;
  font-size: 18px;
  -webkit-transition: hover ease-in 50ms;
  -moz-transition: hover ease-in 50ms;
  -ms-transition: hover ease-in 50ms;
  -o-transition: hover ease-in 50ms;
  transition: hover ease-in 50ms;
}
header .nav-menu ul li a.selected, header .nav-menu ul li a:hover {
  color: #f6303e;
}
header .nav-menu .social-icons {
  float: left;
  position: relative;
  bottom: 5px;
}
header .nav-menu .social-icons .icon {
  margin-left: 10px;
}
header .nav-menu .social-icons .icon:first-of-type {
  margin-left: 0;
}

footer {
  width: 100%;
  height: 30px;
}

.social-icons .icon {
  display: inline-block;
  width: 25px;
  height: 24px;
}
.social-icons .facebook {
  background: url(../images/icon-facebook.png) no-repeat;
}
.social-icons .facebook:hover {
  background: url(../images/icon-facebook-hover.png) no-repeat;
}
.social-icons .twitter {
  background: url(../images/icon-twitter.png) no-repeat;
}
.social-icons .twitter:hover {
  background: url(../images/icon-twitter-hover.png) no-repeat;
}

.main-content .homepage {
  overflow: hidden;
  position: relative;
}
.main-content .homepage .wrapper {
  z-index: 100;
}
.main-content .homepage .slides {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
}
.main-content .homepage h1 {
  position: absolute;
  left: 60px;
  bottom: 80px;
  z-index: 100;
  color: #fff;
  font-size: 72px;
  font-weight: 800;
}
.main-content .homepage h1 p {
  border-bottom: 2px solid #fff;
  font-weight: normal;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  line-height: 1;
  display: block;
}
.main-content .homepage h1 p:last-of-type {
  border-bottom: none;
}
.main-content .homepage video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-content .homepage .slide {
  width: 100%;
  height: 100%;
  position: relative;
}
/*.main-content .page {
  margin-top: 30px;
}*/
.main-content .about-page .nav-menu {
  margin-bottom: 75px;
}
.main-content .about-page .nav-menu ul li {
  float: left;
  width: 180px;
  margin-right: 10px;
}
/*.main-content .about-page .nav-menu ul li:last-of-type {
  margin-right: 0;
}*/
.main-content .about-page .nav-menu ul li a {
  display: block;
  padding: 10px;
  margin: 10px 0 0;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
.main-content .about-page .nav-menu ul li a.selected {
  border: 2px solid #f6303e;
  color: #f6303e;
}
.main-content .about-page .tabs .tab {
  display: none;
}
.main-content .about-page .tabs .tab:first-of-type {
  display: block;
}
.main-content .about-page .content {
  color: #fff;
  margin: 0;
}
.main-content #our-believers .content {
    /*width: 920px;*/
    margin: 0 2em;
}
.red {
  color: #f6303e;
}

.white {
  color: #fff;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 1.3em;
    color: white;
}
.content h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  color: white;
  text-align: center;
  margin-bottom: 16px;
}
.content h3 {
  font-weight: 300;
  font-size: 16px;
}
.content p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.expertis-list .content h2 {
    /*margin-bottom: 70px;*/
}

.believer-list {
    padding: 0 2em;
    color: white;
}

.believer-list .believer {
    width: 50%;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    float: left;
    display: inline-block;
}

.people-list {
  /*width: 960px;*/
  /*padding-left: 10px;*/
  margin: 0 auto;
}
.people-list .person {
  display: block;
  float: left;
  /*width: 305px;
  height: 226px;*/
  width: 100%;
  /*height: 283px;*/
  position: relative;
}
.people-list .person img {
    /*height: 211px;*/
}
.people-list .person .detail-person * {
    display: inline;
}
.people-list .person .detail-person h2, .work-page .works .work .text h2  {
    font-size: 16px;
}
.people-list .person .detail-person {
    overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /*width: 305px;
  height: 226px;*/
  width: 100%;
  height: 100%;
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*background: red;*/
  background: #f6303e;
  padding: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
  display: none;
  /*text-align: center;*/
  font-size: 11px;
  line-height: 1.4;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  /*-ms-flex-align: center;*/
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  /*-moz-box-align: center;*/
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  /*-webkit-box-align: center;*/
  /* W3C */
  display: box;
  box-pack: center;
  /*box-align: center;*/
}
.people-list a h3 span {
  text-transform: lowercase;
}

.people-full-list {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.people-full-list .person {
  display: none;
  background: #fff;
  height: 391px;
  padding: 0;
}
.people-full-list .person .photo {
  width: 382px;
}
.people-full-list .person .description {
  width: 558px;
  padding: 50px 30px;
}
.people-full-list .person .description h2 {
  color: #f6303e;
  margin-bottom: 10px;
}
.people-full-list .person .description h3 {
  color: #1d1e1c;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.people-full-list .person .description p {
  font-size: 16px;
}

.close-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 34px;
  background: #f6303e;
  cursor: pointer;
}
.close-button span {
  display: block;
  position: absolute;
  width: 35px;
  height: 34px;
  top: 0;
  left: 0;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
}
.close-button span:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 17px;
  width: 2px;
  height: 25px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button span:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 17px;
  width: 2px;
  height: 25px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-button span:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.work-page .nav-menu {
  text-align: center;
  vertical-align: middle;
  /*height: 100%;*/
  width: 100%;
  color: white;
  display: block;
  /*padding-top: 110px;*/
  font-size: 24px;
    position: absolute !important;
    line-height: 1.4em;
    padding-top: 12%;
}
.work-page .work .text {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 14px;
    /*position: absolute !important;*/
    /*line-height: 1.4em;*/
    padding-top: 22% !important;
}
.work-page .nav-menu-holder:hover {
    background: #C4BAB0 !important;
}
.work-page .branding-design {
  background: #e76593;
}
.work-page .graphic-design {
  background: #2cdcc5;
}
.work-page .industrial-design {
  background: #efd03d;
}
.work-page .nav-menu a {
  color: #fff;
  font-weight: 700;
  margin-right: 50px;
  text-transform: lowercase;
}
.work-page .nav-menu a:last-of-type {
  margin-right: 0;
}
.work-page .nav-menu a.selected {
  color: #f6303e;
}
.work-page .works {
  /*width: 965px;*/
  width: 100%;
  margin: 0 auto;
  /*padding-left: 10px;*/
}
.work-page .works li {
    /*overflow: hidden;*/
    width: 50%; 
    float: left;
    cursor: pointer;
}
.work-page .works .work {
  display: block;
  float: left;
  /*width: 306px;*/
  width: 50%;
  /*height: 254px;*/
  position: relative;
  overflow: hidden;
}
.work-page .works .work .text {
    padding: 1em;
    color: white !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background: #f6303e;
}
.work-page .works .work .text span {
    color: white !important;
}
.work-page .works .work .text p {
    /*line-height: 1.2em;*/
}
.work-page .works .work .text h2 {
    /*font-size: 18px;*/
}
.work-page .works .work h3 {
  display: none;
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 306px;
  height: 204px;
  background: red;
  padding: 30px;
  color: #fff;
  font-weight: 300;
}
.work-page .single-work .left {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.work-page .single-work .left h2 {
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin: 2em 0 1em;
    /*text-align: left;*/
}
.work-page .single-work .left h4 {
  font-style: italic;
}
.work-page .single-work .right {
  width: 100%;
  padding-left: 20px;
  margin: 2em 0 0;
}
.work-page .single-work .photos {
  margin-top: 30px;
  text-align: center;
}
.work-page .single-work .photos img {
  max-width: 100%;
  margin-bottom: 15px;
}
.down-button {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5em;
    cursor: pointer;
    background: url(../images/expertis-down-button.png) center no-repeat;
}
.right-navigator {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    vertical-align: middle;
    /*background: red;*/
    padding-top: 300px;
}
.right-navigator li {
    background: white;
    display: block;
    margin: 1em;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.right-navigator li.selected {
    background: #f6323e;
}
.expertis-page h1 {
  color: #fff;
  text-align: center;
  padding: 30px;
}
.expertis-page .icons {
  max-width: 960px;
  height: 232px;
  margin: auto;
}
.expertis-page .icons a {
  display: block;
  width: 150px;
  height: 180px;
  margin: 30px 70px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.expertis-page .icons a:last-of-type {
  margin-right: 0;
}
.expertis-page .icons a.branding {
  background-image: url(../images/experis-icon-branding.png);
}
.expertis-page .icons a.industrial {
  background-image: url(../images/experis-icon-industrial.png);
}
.expertis-page .icons a.engineering {
  background-image: url(../images/experis-icon-engineering.png);
}
.expertis-page .icons a.visual {
  background-image: url(../images/experis-icon-visual.png);
}
.expertis-page .icons a:hover {
  /*height: 205px;*/

  /*top: -15px;*/
  /*left: -10px;*/
}
.expertis-page .icons a:hover span {
  /*left: -25px;*/
  /*bottom: -20px;*/
}
.expertis-page .icons a span {
  position: absolute;
  /*left: 0;*/
  left: -35px;
  bottom: -30px;
  /*width: 136px;*/
  width: 205px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  display: block;
}
.expertis-page .expertis {
  /*display: none;
  background: rgba(255, 255, 255, 0.3);
  width: 840px;
  padding: 70px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -420px;*/
  width: 100%;
  height: 800px;
}
.expertis-page #engineering {
    background: url(../images/8.jpg) no-repeat fixed;
}

.expertis-page h1 {
  font-size: 56px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
}
.expertis-page .expertis h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.2;
}
.expertis-page .expertis p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1.4;
}

.big-close-button {
  width: 42px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all ease-in 300ms;
  -moz-transition: all ease-in 300ms;
  -ms-transition: all ease-in 300ms;
  -o-transition: all ease-in 300ms;
  transition: all ease-in 300ms;
}
.big-close-button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 40px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.big-close-button:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 40px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.big-close-button:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.half {
  min-width: 300px;
  max-width: 500px;
}

.page.wrapper {
    /*margin: 2em 150px;*/
    margin: 2em 5%;
}

.award-page {
  margin-bottom: 50px;
}
.award-page h1 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
  color: #fff;
}
.award-page .award-list {
    margin: 50px auto 50px;
}
.award-page .award-list a {
  /*margin-left: 15px;*/
  width: 107px;
  height: 176px;
  position: relative;
  display: inline-block;
}
.award-page .award-list a img {
  width: 97px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.award-page .award-list a:hover img {
  width: 107px;
  top: -5px;
  left: -5px;
}
.award-page .thumbnail {
  float: left;
  margin-right: 30px;
  margin-top: 55px;
  display: none;
}
.award-page .nano {
  height: 240px;
}
.award-page .content p {
  color: #fff;
}

.award-photos {
  margin-top: 30px;
}
.award-photos img {
  width: 100%;
  height: auto;
  padding: 0px 7.5px 0 7.5px;
}
.award-photos .owl-nav > div {
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  opacity: 0.7;
  margin-top: -15px;
  overflow: hidden;
}
.award-photos .owl-nav .owl-prev {
  left: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.award-photos .owl-nav .owl-next {
  right: 30px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.careers-page .banner {
  margin-bottom: 25px;
}
.careers-page h1 {
  margin-bottom: 10px;
  color: white;
  margin-bottom: 15px;
  border-bottom: 2px solid #aaa;
  padding-bottom: 5px;
  /*font-size: 18px;*/
  color: #fff;
}
.careers-page p {
  margin-bototm: 15px;
  color: white;
  color: #fff;
  /*width: 75%;*/
}
.careers-page .job-list {
  margin-bottom: 15px;
}
.careers-page .job-list .job {
  display: block;
  width: 300px;
  border: 1px solid #fff;
  /*background: #c4bbb1;*/
  border: 2px solid white;
  color: #fff;
  padding: 10px 0 10px 15px;
  height: 38px;
  position: relative;
  margin-bottom: 15px;
  font-weight: 300;
  float: left;
  margin-right: 150px;
  text-transform: uppercase;
}
.careers-page .job-list .job span {
  /*background: #f6303e;*/
  background: red;
  display: block;
  text-align: center;
  width: 36px;
  height: 36px;
  width: 38px;
  height: 38px;
  padding: 10px;
  position: absolute;
  top: -1px;
  right: -50px;
  color: #fff;
  top: -2px;
  right: -50px;
}
.careers-page .job-list .job:hover {
  /*border: 1px solid #f6303e;*/
  border: 2px solid red;
  color: #f6303e;
}
.careers-page .note p {
  font-size: 11px;
  font-style: italic;
  padding-left: 25px;
  background: url(../images/icon-mail.png) no-repeat 1px 1px;
}

.job-full-list {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.job-full-list .job {
  display: none;
  background: #fff;
  margin: 100px auto;
  max-width: 860px;
  height: 500px;
  padding: 50px 5%;
  position: relative;
  overflow: hidden;
}
.job-full-list .job h2 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}
.job-full-list .job h1 {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 40px;
  border-bottom: 1px solid #8d8d8c;
  margin-bottom: 15px;
}
.job-full-list .job p {
  margin-bottom: 25px;
}
.job-full-list .job .nano {
  height: 300px;
}

.contact-page {
  position: relative;
  margin-left: 60px;
}
.contact-page .content {
  /*width: 900px;*/
  position: absolute;
  top: 50px;
  left: 0;
  padding-bottom: 50px;
  margin: 0;
}
.contact-page .content .top {
  color: #fff;
  float: left;
  /*width: 400px;*/
  margin: 0 40px 0 0;
}
.contact-page .content .top h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid #fff;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
  left: -7px;
}
.contact-page .content .top p {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 10px;
  text-transform: lowercase;
  position: relative;
  max-width: 360px;
}
.contact-page .content .top p span {
  font-size: 10px;
}
.contact-page .content .top p.prefix-location:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 26px;
  background: url(../images/icon-place.png) no-repeat;
}
.contact-page .content .top a {
  color: #fff;
}
.contact-page .content .bottom {
  padding: 20px 40px 20px 0;
  float: left;
}
.contact-page .content .bottom input[type="text"], .contact-page .content .bottom input[type="email"] {
  width: 100%;
  padding: 8px;
  display: block;
  margin: -1px 0 0 0;
  border: 1px solid #fff;
  background: transparent;
  font-family: "Circular";
  text-transform: lowercase;
  color: #fff;
  font-size: 14px;
}
.contact-page .content .bottom input[type="text"].no-border, .contact-page .content .bottom input[type="email"].no-border {
  border-bottom: none;
}
.contact-page .content .bottom input[type="text"]:focus, .contact-page .content .bottom input[type="email"]:focus {
  outline: none;
}
.contact-page .content .bottom textarea {
  width: 100%;
  padding: 8px;
  height: 150px;
  border: 1px solid #fff;
  background: transparent;
  font-family: "Circular";
  color: #fff;
  margin: 0;
  font-size: 14px;
}
.contact-page .content .bottom textarea:focus {
  outline: none;
}
.contact-page .content .bottom input[type="submit"] {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 14px;
}
.contact-page .bg video {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.store-page h1 {
  font-weight: 300;
  font-size: 65px;
  margin-top: 100px;
  text-align: center;
}

@media (min-width: 360px) {
    .contact-page .content .bottom {
        width: auto;
    }    
}

@media (min-width: 640px) {
    .work-page .works .work {
        width: 33.3333%;
    }
    .work-page .works li {
        width: 33.3333%;
    }
    .work-page .nav-menu {
        padding-top: 9%;
    }
    .people-list .person {
        width: 33.3333%;   
    }
    .believer-list .believer {
        width: 33.3333%;
    }
}



@media (min-width: 1024px) {
    header .nav-menu {
      display: inline;
    }
    header .nav-menu.hamburger {
        display: none;
    }
    .work-page .single-work .left {
        width: 380px;
        margin-left: 7%;
        text-align: left;
    }
    .work-page .single-work .left h2 {
        color: black;
        font-weight: 700;
        font-size: 18px;
        margin: 2em 0 1em;
        text-align: left;
    }
    .work-page .single-work .left h4 {
      font-style: italic;
    }
    .work-page .single-work .right {
      max-width: 560px;
      padding-left: 20px;
      margin: 2em 0 0 0;
    }

    .half {
        float: left;
    }
    .award-page .award-list {
        float: right;
    }

    header .nav-menu ul li {
        margin-right: 10px;
    }
     .contact-page .content .bottom {
        width: 500px;
    }

    .main-content .about-page #about .content, .main-content .about-page #philosophy .content {
        width: 920px;
        margin: auto;
    }
    .work-page .works .work {
        width: 20%;
    }
    .work-page .works li {
        width: 20%;
    }
    .work-page .nav-menu {
        padding-top: 5%;
    }
    .people-list .person {
        width: 20%;
    }
    .main-content #our-believers .content {
        width: 920px;
        margin: auto;
    }
    .believer-list .believer {
        width: 16.6666%;
    }
    .expertis-page .icons a {
        margin: 70px 50px;
    }
}

@media (min-width: 1335px) {
    #branding.expertis-page .content .icon {
        float: left;
        margin: 100px 40px 40px 0;
    }
    #branding.expertis-page .content .text {
        max-width: 700px;
    }
    .expertis-page.wrapper {
        height: 720px;
    }
}


@media (min-width: 1650px) {
    header .nav-menu ul li {
        margin-right: 40px;
    }

    .right-navigator {
        padding-top: 450px;
    }
    .careers-page .job-list .job {
        width: 450px;

    }
    .main-content .page.work-page .single-work {
        width: 1220px;
        margin: 85px auto 0;
    }
      
    .expertis-page.wrapper {
        height: 960px;
        padding-top: 130px !important;
        /*padding: 130px 150px 0 !important;*/
    }

    .expertis-list .content h2 {
        font-size: 30px;
    }
    .wrapper.expertis-list {
        width: 1230px;
    }

    .people-list {
        /*width: 1876px;*/
        width: auto;
        margin: auto;
        /*padding-left: 15px;*/
        /*width: 1550px;*/
    }
    .work-page .work .text {
        font-size: 18px;
    }
    .people-list .person .detail-person h2, .work-page .works .work .text h2 {
        font-size: 20px;
    }
    .people-list .person .detail-person {
      font-size: 14px;
      line-height: 1.4;
    }

  .work-page .works {
    /*width: 1550px;*/
    width: auto;
  }

  .contact-page {
    margin-left: 160px;
  }

  .main-content .homepage h1 {
    left: 160px;
  }

  .main-content .page {
    /*margin-top: 115px;*/
    /*margin-top: 60px;*/
    margin-top: 85px;
  }
  .main-content .page.work-page {
    margin: 0;
  }

  .main-content .page.careers-page {
    width: 1220px;
    margin: 85px auto 0;
  }

  .main-content .page.award-page {
    width: 1220px;
    margin: 85px auto 0;
  }

  .award-single-page .thumbnail {
    display: block;
  }
  .award-single-page .content {
    float: left;
    width: 700px;
  }
  .award-single-page .content h1 {
    border-bottom: none;
    margin-bottom: 7px;
    padding-bottom: 7px;
  }
  .award-single-page .content .half {
    width: 100%;
  }
}






/** nano scroller**/
/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}

.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}

.really_simple_share {
  margin-top: 10px;
}

.wpcf7-validation-errors, .wpcf7-mail-sent-ok {
  color: white;
}

.wpcf7-not-valid-tip { 
  display: none !important;
}

*::-webkit-input-placeholder {
  color: white;
}

*:-moz-placeholder {
  /* Firefox 18- */
  color: white;
  opacity: 1;
}

*::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: white;
}

/*# sourceMappingURL=global.css.map */
