/* ==========================================================================
	Imports
/* ========================================================================== */
@import 'reset', 'variables';

/*  Apply to all elements. In a responsive design, this is almost always a good idea */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
	background: #f6323e; /* Safari */
  color: #fff;
	}
::-moz-selection {
	background: #f6323e; /* Firefox */
  color: #fff;
}

@mixin vertical-center {
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

@font-face {
	font-family: 'Circular';
	src: url('fonts/circularstd-book.eot');
	src: local('☺'), url('fonts/circularstd-book.woff') format('woff'), url('fonts/circularstd-book.ttf') format('truetype'), url('fonts/circularstd-book.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
//	src: url('fonts/circularstd-medium.eot');
//	src: local('☺'), url('fonts/circularstd-medium.woff') format('woff'), url('fonts/circularstd-medium.ttf') format('truetype'), url('fonts/circularstd-medium.svg') format('svg');
  src: url('fonts/circularstd-book.eot');
  src: local('☺'), url('fonts/circularstd-book.woff') format('woff'), url('fonts/circularstd-book.ttf') format('truetype'), url('fonts/circularstd-book.svg') format('svg');
    font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
//	src: url('fonts/circularstd-bold.eot');
//	src: local('☺'), url('fonts/circularstd-bold.woff') format('woff'), url('fonts/circularstd-bold.ttf') format('truetype'), url('fonts/circularstd-bold.svg') format('svg');
    src: url('fonts/circularstd-book.eot');
    src: local('☺'), url('fonts/circularstd-book.woff') format('woff'), url('fonts/circularstd-book.ttf') format('truetype'), url('fonts/circularstd-book.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'Circular';
  //	src: url('fonts/circularstd-bold.eot');
  //	src: local('☺'), url('fonts/circularstd-bold.woff') format('woff'), url('fonts/circularstd-bold.ttf') format('truetype'), url('fonts/circularstd-bold.svg') format('svg');
  src: url('fonts/circularstd-bold.eot');
  src: local('☺'), url('fonts/circularstd-bold.woff') format('woff'), url('fonts/circularstd-bold.ttf') format('truetype'), url('fonts/circularstd-bold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}


body {
  font-family: 'Circular', Helvetica, arial, sans-serif;
  font-size: 14px;

  &.home {
    background: #000;
//    background: url(../images/home-bg.jpg) no-repeat fixed;
//    background-size: cover;
//    -webkit-background-size: cover;
//    -moz-background-size: cover;

    footer {
      display: none;
    }
  }

  &.page-template-page-expertis-php {
    background: url(../images/expertis-bg.jpg) no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  &.page-template-page-contact-php {
    background: url(../images/contact-bg.jpg) no-repeat -100px 80px fixed #e6e7e8;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  &.page-template-page-store-php {
    background: #c4bbb1;
  }
}

a {
  text-decoration: none;
  color: $color_link;
}

.hide, .hidden {
  display: none;
}

.wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

header {
  height: 80px;
  background: #000;

  .wrapper {
    width: auto;
    min-width: 960px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .left {
    .main-logo {
      display: block;
      width: 157px;
      height: 28px;
      background: url(../images/shake_logo.png) no-repeat;
      text-indent: -99999px;
      margin-top: 30px;
    }
  }

  .nav-menu {
    margin-top: 48px;

    ul {
      float: left;
      li {
        display: inline-block;
        margin-right: 30px;

        a {
          color: #fff;
          font-size: 18px;
          -webkit-transition: hover ease-in 50ms;-moz-transition: hover ease-in 50ms;-ms-transition: hover ease-in 50ms;-o-transition: hover ease-in 50ms;transition: hover ease-in 50ms;

          &.selected, &:hover {
            color: $color_link;
          }
        }

      }
    }

    .social-icons {
      float: left;
      position: relative;
      bottom: 5px;

      .icon {
        margin-left: 10px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 30px;
}

.social-icons {
  .icon {
    display: inline-block;
    width: 25px;
    height: 24px;
  }

  .facebook {
    background: url(../images/icon-facebook.png) no-repeat;

    &:hover {
      background: url(../images/icon-facebook-hover.png) no-repeat;
    }
  }

  .twitter {
    background: url(../images/icon-twitter.png) no-repeat;

    &:hover {
      background: url(../images/icon-twitter-hover.png) no-repeat;
    }
  }
}

.main-content {
  .homepage {
    overflow: hidden;
    position: relative;

    .wrapper {
      z-index: 100;
    }

    h1 {
      position: absolute;
      left: 50px;
      bottom: 80px;
      z-index: 100;
      color: #fff;
      font-size: 72px;
      font-weight: 800;

      span {
        border-bottom: 2px solid #fff;
        font-weight:normal;
        margin-bottom:5px;
        padding-right: 5px;
        padding-bottom: 15px;
        line-height: 1;
        display: block;

        &:last-of-type {
          border-bottom: none;
        }
      }

    }

    video {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  .page {
    margin-top: 30px;
  }

  .about-page {
    .nav-menu {
      margin-bottom: 30px;

      ul {
        li {
          float: left;
          width: 185px;
          margin-right: 3px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            display: block;
            padding: 10px;
            background: #c3bab0;
            color: #fff;
            text-align: center;
            width: 100%;

            &.selected {
              background: #f6303e;
            }
          }
        }
      }
    }

    .tabs {
      .tab {
        display: none;

        &:first-of-type {
          display: block;
        }
      }
    }
  }
}

.red {
  color: $color_link;
}

.content {
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 300;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
  }

  h3 {
    font-weight: 300;
    font-size: 16px;

  }

  p {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
}

.people-list {
  width: 960px;
  padding-left: 10px;
  margin: 0 auto;

  a {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 305px;
    height: 226px;
    position: relative;

    h3 {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 305px;
      height: 226px;
      background: rgba(0,0,0,0.7);
      padding: 30px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
}

.people-full-list {
  display: none;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .person {
    display: none;
    background: #fff;
    height: 391px;
    margin-top: 100px;
    padding: 0;

    .photo {
      width: 382px;
    }

    .description {
      width: 558px;
      padding: 50px 30px;

      h2 {
        color: $color_link;
        margin-bottom: 10px;
      }

      h3 {
        color: #1d1e1c;
        border-bottom: 1px solid #c6c6c6;
        margin-bottom: 30px;
        padding-bottom: 10px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

.close-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 34px;
  background: #f6303e;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 35px;
    height: 34px;
    top: 0;
    left: 0;
    -webkit-transition: all ease-in 300ms;-moz-transition: all ease-in 300ms;-ms-transition: all ease-in 300ms;-o-transition: all ease-in 300ms;transition: all ease-in 300ms;

    &:before {
      content:'';
      display: block;
      position: absolute;
      top: 5px;
      left: 17px;
      width: 2px;
      height: 25px;
      background: #fff;
      -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);
    }

    &:after {
      content:'';
      display: block;
      position: absolute;
      top: 5px;
      left: 17px;
      width: 2px;
      height: 25px;
      background: #fff;
      -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);
    }

    &:hover {
      -webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);
    }
  }


}

.work-page {
  .nav-menu {
    text-align: center;
    margin-bottom: 15px;
    a {
      color: #000;
      font-weight: 700;
      margin-right: 50px;
      text-transform: lowercase;

      &:last-of-type {
        margin-right: 0;
      }

      &.selected {
        color: $color_link;
      }
    }
  }

  .works {
    width: 965px;
    margin: 0 auto;
    padding-left: 10px;

    .work {
      display: block;
      float: left;
      width: 308px;
      height: 205px;
      margin-right: 10px;
      margin-bottom: 10px;
      position: relative;

      h3 {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 308px;
        height: 205px;
        background: rgba(0,0,0,0.7);
        padding: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
      }

    }
  }

  .single-work {
    .left {
      width: 380px;

      h2 {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 5px;
      }

      h4 {
        text-align: center;
        font-style: italic;
      }
    }

    .right {
      width: 560px;
      padding-left: 20px;
    }

    .photos {
      margin-top: 30px;

      img {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

.expertis-page {
  h1 {
    color: #fff;
    text-align: center;
    padding: 30px;
  }
  .icons {

    width: 960px;
    height: 232px;

    a {
      display: block;
      width: 150px;
      height: 232px;
      margin-right: 120px;
      float: left;
      background-size: contain;
      background-repeat: no-repeat;
      transition: height ease-in 100ms;

      &:last-of-type {
        margin-right: 0;
      }

      &.branding {
        background-image: url(../images/experis-icon-branding.png);
      }

      &.industrial {
        background-image: url(../images/experis-icon-industrial.png);
      }

      &.engineering {
        background-image: url(../images/experis-icon-engineering.png);
      }

      &.packaging {
        background-image: url(../images/experis-icon-packaging.png);
      }

      &:hover {
        height: 250px;
      }
    }
  }

  .expertis {
    display: none;
    background: rgba(255,255,255,0.3);
    width: 840px;
    padding: 70px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -420px;

    h1 {
      font-size: 56px;
      font-weight: 400;
      text-align: left;
      padding: 0;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #fff;
    }

    h2 {
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 15px;
      line-height: 1.2;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 15px;
      line-height: 1.4;
    }
  }
}

.big-close-button {
  width: 42px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all ease-in 300ms;-moz-transition: all ease-in 300ms;-ms-transition: all ease-in 300ms;-o-transition: all ease-in 300ms;transition: all ease-in 300ms;

  &:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 40px;
    background: #fff;
    -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);
  }

  &:after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 40px;
    background: #fff;
    -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);
  }

  &:hover {
    -webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);
  }

}

.half {
  width: 50%;
}

.award-page {
  h1 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #8d8e8d;
  }

  .award-list {

    margin-top: 50px;

    a {
      margin-right: 80px;
    }
  }

}

.careers-page {
  .banner {
    margin-bottom: 25px;
  }

  h1 {
    margin-bottom: 10px;
  }

  p {
    margin-bototm: 15px;
  }

  .job-list {
    margin-bottom: 15px;

    .job {
      display: block;
      width: 293px;
      background: #c4bbb1;
      color: #fff;
      padding: 10px 0 10px 10px;
      height: 30px;
      position: relative;
      margin-bottom: 15px;
      font-weight: 300;
      float: left;
      margin-right: 150px;
      -webkit-transition: all ease-in 300ms;-moz-transition: all ease-in 300ms;-ms-transition: all ease-in 300ms;-o-transition: all ease-in 300ms;transition: all ease-in 300ms;

      span {
        background: #f6303e;
        display: block;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:hover {
        background: #f6303e;
      }
    }
  }

  .note {
    p {
      font-size: 11px;
      font-style: italic;
      padding-left: 25px;
      background: url(../images/icon-mail.png) no-repeat 1px 1px;
    }
  }


}

.job-full-list {
  display: none;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .job {
    display: none;
    background: #fff;
    margin: 100px auto;
    width: 860px;
    padding: 50px 90px;
    position: relative;

    h2 {
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 5px;
    }

    h1 {
      font-size: 22px;
      font-weight: 400;
      padding-bottom: 40px;
      border-bottom: 1px solid #8d8d8c;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 25px;
    }
  }
}

.contact-page {
  position: relative;


  .content {
    width: 530px;
    position: absolute;
    top: 50px;
    right: 0;
    padding-bottom: 50px;

    .top {
      background: #000;
      color: #fff;
      padding: 40px;

      h2 {
        font-size: 14px;
        font-weight: 700;
        padding: 5px 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 5px;
      }

      p {
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 10px;
      }

      a {
        color: #fff;
      }

    }

    .bottom {
      padding: 20px 40px;
      background: #fff;

      input[type="text"], input[type="email"] {
        width: 100%;
        padding: 10px;
        display: block;
        margin-bottom: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #8d8e8d;

        &.no-border {
          border-bottom: none;
        }

        &:focus {
          outline: none;
        }
      }

      textarea {
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #8d8e8d;

        &:focus {
          outline: none;
        }
      }

      input[type="submit"] {
        float: right;
        background: #f6303e;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }

}

.store-page {
  h1 {
    font-weight: 300;
    font-size: 65px;
    margin-top: 100px;
    text-align: center;
  }
}


@media (min-width: 1700px) {
  .people-list {
    width: 1600px;
    padding-left: 15px;
  }

  .work-page .works {
    width: 1620px;
  }

  header {
    .wrapper {
      margin-left: 150px;
      margin-rigth: 150px;
    }
  }

  .main-content .homepage h1 {
    left: 150px;
  }
}
